*{
    margin: 0px;
    padding: 0px;
}

#NavBar{
    display: flex;
    background-color: rgb(147, 197, 226);
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
#logo{
    margin-left: 5%;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 30%;
}
a{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#Main{
    background-color: rgb(27, 130, 171);
    color: aliceblue;
    margin-top: 20px;
    width: 75%;
    height: 75%;
    margin-left: 10%;
    align-items: center;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    padding: 10px;
    text-align: center;
}
img{
    padding: 10px;
}
p{
    padding: 10px;
}
